--
-- PostgreSQL database dump
--

-- Dumped from database version 17.2
-- Dumped by pg_dump version 17.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: mutual_funds_db; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mutual_funds_db (
    market_rate double precision NOT NULL,
    risk_rate double precision NOT NULL,
    id bigint NOT NULL,
    name character varying(255),
    ticker character varying(255)
);


ALTER TABLE public.mutual_funds_db OWNER TO postgres;

--
-- Name: mutual_funds_db_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.mutual_funds_db ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mutual_funds_db_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: mutual_funds_db; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: mutual_funds_db_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mutual_funds_db_id_seq', 19, true);


--
-- Name: mutual_funds_db mutual_funds_db_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mutual_funds_db
    ADD CONSTRAINT mutual_funds_db_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

