<div class="fixed top-0 w-full z-10 bg-white shadow-md">
  <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">

    <div class="flex items-center space-x-3">
      <img src="/goldmanlogo.png" alt="Goldman Sachs Logo" class="h-12">
    </div>


    <nav>
      <ul class="flex items-center space-x-8">
        <li>
          <a
            routerLink="/home"
            routerLinkActive="text-[#003865] border-b-2 border-[#003865]"
            ariaCurrentWhenActive="page"
            class="pb-1 border-b-2 border-transparent text-[#7399C6] text-lg hover:text-[#003865] hover:border-[#003865] transition-colors duration-200"
          >
            Home
          </a>
        </li>
        <li>
          <a
            routerLink="/dashboard"
            routerLinkActive="text-[#003865] border-b-2 border-[#003865]"
            ariaCurrentWhenActive="page"
            class="pb-1 border-b-2 border-transparent text-[#7399C6] text-lg hover:text-[#003865] hover:border-[#003865] transition-colors duration-200"
          >
            Dashboard
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<br />
<router-outlet />
