:root {
  --goldman-blue: #1a366b;
  --white: #ffffff;
  --black: #000000;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  background-color: var(--white);
  color: var(--black);
}

.home-container {
  text-align: center;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a366b;
  padding: 1rem 2rem;
  color: var(--white);
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-logo {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  text-decoration: none;
  margin-left: 1.5rem;
  font-size: 1.2rem;
  color: var(--white);
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: var(--goldman-blue);
}

/* Hero Section */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  padding: 4rem 2rem;
}

.hero-content {
  text-align: left;
  max-width: 50%;
}

.hero-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--white);
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.cta-button {
  text-decoration: none;
  background-color: var(--goldman-blue);
  color: var(--white);
  padding: 1rem 2.5rem;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: var(--white);
  color: var(--black);
}

.hero-icons {
  font-size: 3rem;
  display: flex;
  gap: 1rem;
}

.icon {
  color: var(--goldman-blue);
}

/* Features Section */
.features-section {
  padding: 4rem 2rem;
  background-color: var(--white);
}

.features-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--black);
}

.features-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.feature-card {
  background-color: var(--white);
  border: 1px solid var(--goldman-blue);
  border-radius: 8px;
  padding: 2rem;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--black);
}

.feature-card p {
  font-size: 1rem;
  color: var(--black);
}
