/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Lato, serif; font-weight: 400; font-style: normal }

.cursor {
  border-right: 2px solid #000;
  animation: blink 0.6s step-end infinite;
}
